<p id="notice"><%= notice %></p>

<p>
  <strong>Ty:</strong>
  <%= @type.id %>
</p>

<p>
  <strong>Ty name:</strong>
  <%= @type.ty_name %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
