<%= form_for(@kpi) do |f| %>
  <% if @kpi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpi.errors.count, "error") %> prohibited this kpi from being saved:</h2>

      <ul>
      <% @kpi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :kp_name %><br>
    <%= f.text_field :kp_name %>
  </div>
  <div class="field">
    <%= f.label :kp_formula %><br>
    <%= f.text_field :kp_formula %>
  </div>
  <div class="field">
    <%= f.label :kp_unit %><br>
    <%= f.text_field :kp_unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
