<h1>Listing kpis</h1>

<table>
  <thead>
    <tr>
      <th>Kp</th>
      <th>Ty</th>
      <th>Kp name</th>
      <th>Kp formula</th>
      <th>Kp unit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kpis.each do |kpi| %>
      <tr>
        <td><%= kpi.id %></td>
        <td><%= kpi.type_id %></td>
        <td><%= kpi.kp_name %></td>
        <td><%= kpi.kp_formula %></td>
        <td><%= kpi.kp_unit %></td>
        <td><%= link_to 'Show', kpi %></td>
        <td><%= link_to 'Edit', edit_kpi_path(kpi) %></td>
        <td><%= link_to 'Destroy', kpi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi', new_kpi_path %>
