<p id="notice"><%= notice %></p>

<p>
  <strong>Kp:</strong>
  <%= @kpi.id %>
</p>

<p>
  <strong>Ty:</strong>
  <%= @kpi.type_id %>
</p>

<p>
  <strong>Kp name:</strong>
  <%= @kpi.kp_name %>
</p>

<p>
  <strong>Kp formula:</strong>
  <%= @kpi.kp_formula %>
</p>

<p>
  <strong>Kp unit:</strong>
  <%= @kpi.kp_unit %>
</p>

<%= link_to 'Edit', edit_kpi_path(@kpi) %> |
<%= link_to 'Back', kpis_path %>
