<%= form_for(@kpi_cou_rel) do |f| %>
  <% if @kpi_cou_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpi_cou_rel.errors.count, "error") %> prohibited this kpi_cou_rel from being saved:</h2>

      <ul>
      <% @kpi_cou_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kp_id %><br>
    <%= f.number_field :kp_id %>
  </div>
  <div class="field">
    <%= f.label :co_id %><br>
    <%= f.number_field :co_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
