<h1>Listing kpi_cou_rels</h1>

<table>
  <thead>
    <tr>
      <th>Kp</th>
      <th>Co</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kpi_cou_rels.each do |kpi_cou_rel| %>
      <tr>
        <td><%= kpi_cou_rel.kp_id %></td>
        <td><%= kpi_cou_rel.co_id %></td>
        <td><%= link_to 'Show', kpi_cou_rel %></td>
        <td><%= link_to 'Edit', edit_kpi_cou_rel_path(kpi_cou_rel) %></td>
        <td><%= link_to 'Destroy', kpi_cou_rel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi cou rel', new_kpi_cou_rel_path %>
