<p id="notice"><%= notice %></p>

<p>
  <strong>Kp:</strong>
  <%= @kpi_cou_rel.kp_id %>
</p>

<p>
  <strong>Co:</strong>
  <%= @kpi_cou_rel.co_id %>
</p>

<%= link_to 'Edit', edit_kpi_cou_rel_path(@kpi_cou_rel) %> |
<%= link_to 'Back', kpi_cou_rels_path %>
