<%= form_for(@measurement) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.number_field :vendor_id %>
  </div>
  <div class="field">
    <%= f.label :adapter_id %><br>
    <%= f.number_field :adapter_id %>
  </div>
  <div class="field">
    <%= f.label :me_name %><br>
    <%= f.text_field :me_name %>
  </div>
  <div class="field">
    <%= f.label :me_table %><br>
    <%= f.text_field :me_table %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
