<h1>Listing measurements</h1>

<table>
  <thead>
    <tr>
      <th>Me</th>
      <th>Ve</th>
      <th>Ad</th>
      <th>Me name</th>
      <th>Me table</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.id %></td>
        <td><%= measurement.vendor_id %></td>
        <td><%= measurement.adapter_id %></td>
        <td><%= measurement.me_name %></td>
        <td><%= measurement.me_table %></td>
        <td><%= link_to 'Show', measurement %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_measurement_path %>
