<p id="notice"><%= notice %></p>

<p>
  <strong>Me:</strong>
  <%= @measurement.id %>
</p>

<p>
  <strong>Ve:</strong>
  <%= @measurement.vendor_id %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @measurement.adapter_id %>
</p>

<p>
  <strong>Me name:</strong>
  <%= @measurement.me_name %>
</p>

<p>
  <strong>Me table:</strong>
  <%= @measurement.me_table %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
