<%= form_for(@counter) do |f| %>
  <% if @counter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@counter.errors.count, "error") %> prohibited this counter from being saved:</h2>

      <ul>
      <% @counter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :measurement_id %><br>
    <%= f.number_field :measurement_id %>
  </div>
  <div class="field">
    <%= f.label :co_name %><br>
    <%= f.text_field :co_name %>
  </div>
  <div class="field">
    <%= f.label :co_column %><br>
    <%= f.text_field :co_column %>
  </div>
  <div class="field">
    <%= f.label :co_desc %><br>
    <%= f.text_field :co_desc %>
  </div>
  <div class="field">
    <%= f.label :co_unit %><br>
    <%= f.text_field :co_unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
