<h1>Listing counters</h1>

<table>
  <thead>
    <tr>
      <th>Co</th>
      <th>Me</th>
      <th>Co name</th>
      <th>Co column</th>
      <th>Co desc</th>
      <th>Co unit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
      <tr>
        <td><%= counter.id %></td>
        <td><%= counter.measurement_id %></td>
        <td><%= counter.co_name %></td>
        <td><%= counter.co_column %></td>
        <td><%= counter.co_desc %></td>
        <td><%= counter.co_unit %></td>
        <td><%= link_to 'Show', counter %></td>
        <td><%= link_to 'Edit', edit_counter_path(counter) %></td>
        <td><%= link_to 'Destroy', counter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counter', new_counter_path %>
