<p id="notice"><%= notice %></p>

<p>
  <strong>Co:</strong>
  <%= @counter.id %>
</p>

<p>
  <strong>Me:</strong>
  <%= @counter.measurement_id %>
</p>

<p>
  <strong>Co name:</strong>
  <%= @counter.co_name %>
</p>

<p>
  <strong>Co column:</strong>
  <%= @counter.co_column %>
</p>

<p>
  <strong>Co desc:</strong>
  <%= @counter.co_desc %>
</p>

<p>
  <strong>Co unit:</strong>
  <%= @counter.co_unit %>
</p>

<%= link_to 'Edit', edit_counter_path(@counter) %> |
<%= link_to 'Back', counters_path %>
