<%= form_for(@adapter) do |f| %>
  <% if @adapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adapter.errors.count, "error") %> prohibited this adapter from being saved:</h2>

      <ul>
      <% @adapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_name %><br>
    <%= f.text_field :ad_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
