<h1>Listing adapters</h1>

<table>
  <thead>
    <tr>
      <th>Ad</th>
      <th>Ad name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adapters.each do |adapter| %>
      <tr>
        <td><%= adapter.ad_name %></td>
        <td><%= link_to 'Show', adapter %></td>
        <td><%= link_to 'Edit', edit_adapter_path(adapter) %></td>
        <td><%= link_to 'Destroy', adapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adapter', new_adapter_path %>
